/* Enter your Styles below! */


h1 {
    font-family:Helvetica;
    font-size:50px;
    color:white;
    text-transform: uppercase;
    display:inline-block;
    margin-top:10px;
    margin-left:20px;
    text-decoration: none;
    text-align:left;

}




h2 {
    font-family:Helvetica;
    font-size: 30px;
    color: white;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;}


h3 {font-size:20px;
    color:white;
    background-color:grey;
    padding-left:10px;



}

nav {
    width:100%;
    position:relative;
}




nav ul
{   list-style-type: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color:#EAC747;
    margin-top:0;

    
    }


nav li 
{   display: inline-block;
    background-color:white;
    width:250px;
    height:50px;
    margin-left:5px;
    margin-right:5px;
    border-radius:8px;
    cursor:pointer;
    }

nav li a {
    display:block;
    color:#333333;
    text-decoration:none;
    top:18px;
    height:100%;
    padding-top:16px;
}

.current {
    background-color:#35ea97;
}


body {
    background-color:#333333;
    width:100%;
    margin:0;
    margin-top:0;

}




 header {
    background-color:#35ea97;
    height:80px;
    padding:0;
 }

 p.description {
    margin-left:30px;
    color:white;
    text-align:center;
    font-family:helvetica;
 }

#btnScrollToTop {
    position:fixed;
    bottom:10px;
    right:10px;
    width:50px;
    height:50px;
    border-radius:50%;
    color:white;
    background-color:#35ea97;
    box-shadow: 0 0 10px rgba(0, 0, 0.25);
    border:none;
    cursor:pointer;
}

#btnScrollToTop:active {
    background:#569b6d;

}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todaystip {
    background-color:#000000;
    color:white;
    width:170px;
    height:60px;
    border-radius:20px;
    border:none;
    font-size:20px;
    font-family:helvetica;
}

.greenbox {
    background-color:#35ea97;
    width:300px;
    height:200px; 
    margin-right:auto;
    margin-left:auto;
    margin-top:-28px;
    z-index:-1;
    position:relative;
    border-radius:20px;

}

.quote {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding-top:60px;
    color:white;
    width:250px;
    font-size:20px;
    font-family:helvetica;

}

.picture-lg {
    background-color: #ccc;
    width:100%;
    min-height: 200px;
}

.picture-sm {
    background-color: #ccc;
    width: 200px;
    height: 200px;
}

.picture-circle {
    background-color: #ccc;
    width:200px;
    height: 200px;
    border-radius: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
}


.video {
    background-color: #ccc;
    width: 350px;
    height:250px;
}

.price-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
}

.price-grid span:nth-child(2) {
    text-align:right;
}

.button {
    background-color: #ccc;
    border-radius: 12px;
    border: 1px solid black;
    padding:8px;
}

.maincontent {
    width:100%;
    margin: auto;
    line-height:30px;


}

.meditationcontent {
    width:90%;
    margin: auto;
    text-align:left;
    color:white;
    padding-top:5px;
    padding-bottom:10px;

}

.meditationcontenttwo {
    width:90%;
    margin: auto;
    text-align:left;
    color:#333333;
    padding-top:15px;

}

.whitebackground {
    background-color:white;
    height:1500px;
    width:100%;
    margin: auto;
    text-align:left;
}

.greyh2 {
    color:#333333;
    font-size: 30px;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;
}

h3 {
    color:#333333;
    font-size: 30px;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;

}

.meditationsteps {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    background-color:#EAC747;
    width:90px;
    height:90px;
    border-radius:50%;
    margin-left:10px;
    text-align:center;
    align-items: center;
    display: flex;
    position: relative;
    cursor: pointer;
    
}

p  {
    padding-left:51px;
    padding-right:51px;
    font-family:helvetica;
    font-weight:lighter;
    line-height:30px;

}
.exercisecontent {
    width:90%;
    margin:auto;

}

.healthcontent {
    width: 90%;

}

@media only screen and (max-width:768px) {


@media only screen and (min-width:1224px) {

}