/* Enter your Styles below! */


/*MAIN*/

h1 {
    font-family:Helvetica;
    font-size:50px;
    color:white;
    text-transform: uppercase;
    display:inline-block;
    margin-top:10px;
    margin-left:20px;
    text-decoration: none;
    text-align:left;

}


h2 {
    font-family:Helvetica;
    font-size: 30px;
    color: white;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;
    text-decoration:none;

}


h3 {
    font-family:helvetica;
    font-size: 30px;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;

}



p  {
    padding-left:51px;
    padding-right:51px;
    font-family:helvetica;
    font-weight:lighter;
    line-height:30px;

}

canvas {
    border: 2px solid rgb(151, 149, 149);

}

body {
    background-color:#cccccc;
    width:100%;
    margin:0;
    margin-top:0;
    overflow-x:hidden;

}

header {
    background-color:#35ea97;
    height:80px;
    padding:0;
}

img {
    width:100px;
    height:100px;
    border: 3px red;
}

button {

    margin-top: 20px;
    font-size: 20px;
}

nav {
    width:100%;
    position:relative;
}


nav ul {
    list-style-type: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color:#EAC747;
    margin-top:-1px;
    width:100%;

}

nav li {
    display: inline-block;
    background-color:white;
    width:250px;
    height:50px;
    margin-left:5px;
    margin-right:5px;
    border-radius:8px;
    cursor:pointer;

}

nav li:hover {
    background-color:#2abd79;

}


nav li a {
    display:block;
    color:#333333;
    text-decoration:none;
    top:18px;
    height:100%;
    padding-top:16px;

}



/*CLASSES*/

.front:hover {
    color:#35ea97;
}
.front:active {
    color:#35ea97;
    text-decoration: underline #EAC747;
}

.sidebar {
    position:absolute;
    top:80px;
    right:-200px;
    background-color:white;
    width:200px;
    height:100%;
    transition: .3s;
}

.active {
    right:0px;
}

.sidebar li 
{   font-family:helvetica;
    display: inline-block;
    background-color:white;
    width:100%;
    height:50px;
    border-radius:8px;
    cursor:pointer;
    color:white;
    margin:top:2px;
    margin-bottom:2px;
    text-align:center;
}

.sidebar li:hover 
{  background-color:#2abd79;
}

.sidebar ul {
    margin:0;
    padding:0;
}


.sidebar ul li a {
    color:#333333;
    text-decoration:none;
    display:block;
    top:18px;
    height:100%;
    padding-top:16px;

}

.sidebarBtn {
    display:none;
    position:absolute;
    top:-90px;
    left:-70px;
    width:50px;
    height:50px;
    box-sizing:border-box;
    cursor:pointer;
    background :transparent;
    border:none;
    outline:none;
}

.sidebarBtn span {
    display:block;
    width:35px;
    height:5px;
    background:white;
    position:absolute;
    top:24px;
    transition:.3s;
    border-radius: 10px;


}

.sidebarBtn span:before {
    content: '';
    position:absolute;
    top:-10px;
    left:0;
    width:100%;
    height:5px;
    background:white;
    transition: .3s;
    border-radius: 10px;

}

.sidebarBtn span:after {
    content: '';
    position:absolute;
    top:10px;
    left:0;
    width:100%;
    height:5px;
    background:white;
    transition: .3s;
    border-radius: 10px;

}

.sidebarBtn.toggle span {
    background:transparent;

}

.sidebarBtn.toggle span:before {
   top:0;
   transform:rotate(45deg);

}

.sidebarBtn.toggle span:after {
   top:0;
   transform:rotate(-45deg);
}


.current {
    background-color:#35ea97;
}

.leftyoujerk {
    left: 150px !important;
}

.games {
    height:100%;
    width:100%;
    background-color:white;
    border-radius: 10px;
    cursor:pointer;
    justify-content: center;
    align-content: center;
    text-align:center;

}

.game {
    width: 600px;
    height: 600px;
    position: relative;
    margin: 0 auto;
}

.go {
    font-family:helvetica;
    color: white;
    font-size: 100px;
    z-index: 999;
    top: 50%;
    visibility: hidden;
}

.body {
    width:100%;
    text-align:center;
    align-content: center;
    justify-content: center;

}


.game_image {
    width:100%;
    height:100%;
    border-radius:10px;
}

.game_title {
    text-align:center;
    font-family:helvetica;
    font-size:30px;
    color:white;
    text-decoration: none;
}

.box {
    border: 1px solid white;
    background-color: grey;
    width: 33%;
    height: 33%;
    float: left;
    transition: background-color 0.1s ease-in;
}

.clicked1 {
    background-color: #333333;
}

.clicked2 {
    background-color: #35ea97;
}

#gradient
{
  position:absolute;
  width: 100%;
  height: 3000px;
  padding: 0px;
  margin: 0px;
  z-index: -2;
}

p.description {
    margin-left:30px;
    color:white;
    text-align:center;
    font-family:helvetica;
}

#btnScrollToTop {
    position:fixed;
    bottom:10px;
    right:10px;
    width:50px;
    height:50px;
    border-radius:50%;
    color:white;
    background-color:#35ea97;
    box-shadow: 0 0 10px rgba(0, 0, 0.25);
    border:none;
    cursor:pointer;
    z-index: 2;
}

#btnScrollToTop:active {
    background:#569b6d;
    outline:none;

}

#btnScrollToTop:focus {
    outline:none;

}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todaystip {
    background-color:#000000;
    color:white;
    width:170px;
    height:60px;
    border-radius:20px;
    border:none;
    font-size:20px;
    font-family:helvetica;
}

.todaystip:hover {
    background-color:#EAC747;
    cursor:pointer;
}

.todaystip:focus {
    outline:none;
}

.reset {
    background-color:#000000;
    color:white;
    width:170px;
    height:60px;
    border-radius:20px;
    border:none;
    font-size:20px;
    font-family:helvetica;
}

.reset:hover {
    background-color:#EAC747;
    cursor:pointer;
}

.reset:focus {
    outline:none;
}


.greenbox {
    background-color:#35ea97;
    width:300px;
    height:200px; 
    margin-right:auto;
    margin-left:auto;
    margin-top:-28px;
    z-index:-1;
    position:relative;
    border-radius:20px;

}

#quoteContainer {
    font-size:20px;
    padding-top:30px;
    text-align:center;
    font-family:helvetica;
    line-height:10px;
}



.indexp {
    padding-left:51px;
    padding-right:51px;
    font-family:helvetica;
    font-weight:lighter;
    line-height:30px;
    color:white;

}

.card_container{
    position:relative;
    width:100%;
    height:100%;
    background:none;

}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 1.0s linear;
    transform-style: preserve-3d;
    transition: all .4s linear;
    cursor:pointer;

}

.card.active {
    transform: rotateY(180deg);

}

.front_card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: white;
    color: #333;
    border-radius: 10px;
    text-align:center;
    overflow:hidden;
}

.back_card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: white;
    color: #333;
    transform: rotateY(180deg);
    border-radius: 10px;
    text-align:center;
    align-content: center
}

.front_card img {
    width:auto;
    height:100%;
    border-radius:10px;

}

h2.food {
    font-family:helvetica;
    font-size:50px;
    color:#333333;
    text-align:center;
    padding-left:0px;
    padding-right:0px;
    padding-top:30px;
    margin:0;
}

div.foodbio {
    font-family: helvetica;
    font-size: 16px;
    color: #a6a6a6;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    line-height:1.5em;
}


.buy {
    width:60px;
    height:40px;
    text-align: center;
    background-color:#35ea97;
    position:absolute;
    bottom:-5px;
    right:-5px;
    border-radius:10px;
    font-family:helvetica;
    color:white;
    font-size:15px;
    cursor:pointer;
    font-weight: bold;
    border:none;

}


.buy:hover {
    background-color:#EAC747;
}

.buy:focus {
    outline:none;

}

.two_column_grid {
    display:grid;
    grid-template-columns: auto auto;
    margin-left:30px;
    margin-right:30px;
    column-gap: 20px;
}


.circles {
    width:150px;
    height:150px;
    border:none;
    background-color:#35ea97;
    font-size:15px;
    border-radius:50%;
    font-family:helvetica;
    color:#333333;
    cursor:pointer;
    margin:20px;
}

.circles:active {
    background-color:#2abd79;
}

.circles:hover {
    background-color:#EAC747;
    cursor:pointer;
}

.circles:focus {
    outline:none;

}

.video {
    background-color: white;
    width: 350px;
    height:250px;
    padding-bottom:30px;
}

.time_button {
    width:100px;
    height:50px;
    border:none;
    background-color:#333333;
    color:white;
    border-radius:20px;
    font-size:13px;
}

.time_button:focus {
    outline:none;
}

.price-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
}

.price-grid span:nth-child(2) {
    text-align:right;
}

.button {
    background-color: #ccc;
    border-radius: 12px;
    border: 1px solid black;
    padding:8px;

}


.maincontent {
    width:100%;
    margin: auto;
    line-height:30px;

}

.meditationcontent {
    width:90%;
    margin: auto;
    text-align:left;
    color:white;
    padding-top:5px;
    padding-bottom:10px;

}

.meditationcontenttwo {
    width:90%;
    margin: auto;
    text-align:left;
    color:#333333;
    padding-top:15px;

}

.whitebackground {
    background-color:white;
    height:2500px;
    width:100%;
    margin: auto;
    text-align:left;
}

.whitebackground_exercise {
    background-color:white;
    height:3300px;
    width:100%;
    margin: auto;
    text-align:left;
}

.greyh2 {
    color:#333333;
    font-size: 30px;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;
}

.greyh3 {
    color:white;
    font-size: 20px;
    padding-left:40px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#333333;
}

.h3 {
    font-size: 20px;
    padding-left:40px;
    padding-bottom:5px;

}

.item {
    display: none;
    width: 50%;
    padding: 5px;
    float: left;
    min-height: 185px;
    text-align: center;
}

.item.active {
    display: block;
}

.item img {
    display: block;
    width: 100%;
}

select {
    display: block;
    width: 100%;
}

.video {
    border-radius:20px;
}

.align {
    margin:0;
    padding-bottom:10px;
    padding-top:10px;
    padding-left:0;
    padding-right:0;
}

h2.align {
    color:grey;
}


.exercisecontent {
    width:90%;
    margin:auto;

}

.yoga_workout {
    margin:none;
    padding-bottom:50px;
}


.healthcontent {
    width: 90%;

}

.grid_container {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap:2em;
    margin:3em;
    grid-auto-rows:300px;

}










/*MEDIA QUERIES*/
@media only screen and (max-width:1200px) {

    .grid_container {
        grid-template-columns: repeat(3, 1fr)

    }
}

@media only screen and (max-width:1333px) {

        nav {
       display:none;
   }
       .sidebarBtn {
    display:block;
    }
}


@media only screen and (max-width:768px) {
    .two_column_grid {
        display:grid;
        grid-template-columns: auto;
        margin-left:30px;
        margin-right:30px;
    }

    .grid_container {
        grid-template-columns: repeat(2, 1fr)

    }

    h1 {
        font-size:35px;
        display:inline-block;
        margin-top:20px;
        margin-left:20px;

    }

}

@media only screen and (max-width:520px) {
    .grid_container {
        grid-template-columns: repeat(1, 1fr)

    }

   #btnScrollToTop {
    position:fixed;
    bottom:15px;
    right:15px;
    width:70px;
    height:70px;
    border-radius:50%;
    color:white;
    background-color:#35ea97;
    box-shadow: 0 0 10px rgba(0, 0, 0.25);
    border:none;
    cursor:pointer;
    z-index: 2;
}
}

